<div id="preview">
	<div id="preview-header">
		<div id="preview-buttons">
			<button id="preview-settings" class="preview-button btn-alt-quiet" type="button" title="{{Strings.BUTTON_SETTINGS}}"></button>	
			<button id="preview-close" class="preview-button btn-alt-quiet" type="button" title="{{Strings.BUTTON_CLOSE}}"></button>
		</div>
		<span>{{Strings.HEADER_TITLE}}</span>
	</div>
	<div id="device-preview">
		<div id="device-container">
			<div id="device-frame" class="marvel-device iphone5s silver">
				<div class="top-bar"></div>
				<div class="sleep"></div>
				<div class="volume"></div>
				<div class="camera"></div>
				<div class="sensor"></div>
				<div class="speaker"></div>
				<div class="screen">
					<!-- Content goes here -->
					<iframe id="device-iframe" src="about:blank" seamless></iframe>
				</div>
				<div class="home"></div>
				<div class="bottom-bar"></div>
			</div>
		</div>
	</div>
</div>
